header1 {
    width: 100%;
}
/*---------------------------------TRANG CHỦ---------------------------------------*/
.goc-anh-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.goc-anh-column {
  flex: 33%;
  max-width: 33%;
  padding: 4 4px;
}

.goc-anh-column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*---------------------------------ĐÀO TẠO---------------------------------------*/
.li_dt::marker{
  content: none;
}
a.lk_dt{
  text-decoration: none;
  color: black;
}
a.lk_dt:hover{
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}
.vachngan_dt{
  font-weight: 600;
  text-align: right;
  width: 25%;
}
.canbang_dt{
  text-align: justify;
}

/*---------------------------------TÂN SINH VIÊN---------------------------------------*/
a.lk_tsv{
    text-decoration: none;
    color: black;
  }
  a.lkimg_tsv{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a.lkimg_tsv:hover{
    text-decoration: underline;
    color: yellow;
  }
  a.lkhtro_tsv:hover, a.lk_tsv:hover{
    text-decoration: underline;
    color: blue;
    background-color: yellow;
  }
  div.khungchu_tsv{
    left: 0;
    width: 100%;
    background-color: rgba(71, 157, 255, 0.25);
  }
  li.htro_tsv::marker{
    content: ">> ";
    color: blue;
  }
  li.hot_tsv::marker{
    color: red;
  }
  i.down_tsv{
    color: rgb(195, 195, 195);
  }

/*---------------------------------TIN TỨC---------------------------------------*/
  h6.tde_tt{
    text-align: justify;
  }
  img.anh_tt{
    height: 30ex;
    width: 100%;
  }
  div.khung_tt{
    height: 50ex;
  }

 /*---------------------------------GIẢNG VIÊN---------------------------------------*/
.table_gg {
	width: 60%;
	background-color: #99c7ef;
  margin-left: auto;
  margin-right: auto;
 
	
}
.table_gg a{
	text-decoration: none;
}
.table_gg thead{
	text-align: center;
	background-color: #4d4dee;
	color:#f3f3f3;
}
.table_gg span{
	color:red;
	float:right;
	
}
a{
	text-decoration: none;
}
/*---------------------------------HỢP TÁC---------------------------------------*/
#hoptac1{
	width: 100%;
}

.button_ht a{
	color:#fbf5f5;
}
.button_ht{
  text-align: center;
}

/*---------------------------------TEST---------------------------------------*/

.navbar .navbar-nav .nav-item .nav-link:hover{
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  color: #0d6efd;
}

