main{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

th{
    color:aliceblue;
}
.table{
    background-color:rgb(149, 167, 247);
}
h1{
    color:blue;
}


.col-9{
    font-size: 20px;
}
.col-9::before{
    display: inline-block;
    content: "";
    position: relative
    

}
.btn a{
    color:aliceblue;
    text-decoration: none;
}

    
